[2015-01-27 01:22] tunnckoCore opened #1 "`args` and `arguments` confusion?"
Maybe this is confusing. We have one more word `params`.
- `parameters` to be arguments as array, and `params` for shorter alias
- `arguments` to be arguments as string, and `args` for shorter alias

[2015-01-27 02:26] tunnckoCore commented on #1
Done.
- `parameters` and `params` are arguments of given function as comma-separated `String`
- `arguments` and `args` are arguments of given function as `Array`

[2015-01-27 02:26] #1 closed, assigned to nobody

[2016-01-12 07:36] cmtt opened #2 "ES2015+ Support"
Hello tunnckoCore,

I am currently using parse-function to extract function parameters in "[gulp-di](https://github.com/cmtt/gulp-di/blob/master/lib/di.js#L268)". Under certain circumstances, it might not support ES2015+ code, as its dependency parse-function seems currently to be limited to ES5 function declarations.

Gulp can be used in conjunction with ES2015 code in two ways:
1. Writing ES2015

[2016-01-12 13:47] tunnckoCore commented on #2
Hm, yea, I'll do something. It was in my mind and was discussed somewhere in the issues around me.
So yea, thanks using it :)

Cheers,
Charlike.

[2016-01-26 16:00] cmtt commented on #2
Thanks a lot for working on this issue! :+1:

[2016-01-26 16:14] tunnckoCore commented on #2
Thanks for the bump, I'll push something tonight.

[2016-01-26 18:26] tunnckoCore commented on #2
Hm.. Okey I'm working on `function-regex` and almost done..
Facing only one problem there: the "body" matching group would have `{` and `}` which won't be so nice thing.

http://regexr.com/3clpp or:

[code]

Any ideas?

[2016-01-26 21:40] tunnckoCore commented on #2
@cmtt i'm done, just waiting https://github.com/ljharb/is-arrow-function/pull/2 if it will be merged.

[2016-01-27 05:11] tunnckoCore commented on #2
Haha, okey... Redone with just walking each character with loop - no dependencies. I should test the performance against regex approach, lol.

[2016-01-27 16:32] tunnckoCore commented on #2
@cmtt say what you think.

Changes (no breaking changes)
- added `value` and `orig` hidden properties
  - `value` string representation of the given value (string or function)
  - `orig` original representation of the value, if function - function, if string - string
- `arguments` and `parameters` properties are now hidden, but they are there in object

I will update docs, write some benchmarks, r

[2016-01-27 19:59] tunnckoCore commented on #2
Resolved. [See the change log for more detailed info.](https://github.com/tunnckoCore/parse-function/blob/master/CHANGELOG.md#210---2016-01-27) Released and published as `v2.1.0`.

@cmtt thanks!

[2016-01-27 19:59] #2 closed, assigned to nobody

[2016-01-27 21:57] cmtt commented on #2
Hello Charlike,

thanks a lot for the hard work in resolving this issue.
I didn't have had the time to reply earlier.

As mentioned, concerns about the performance might be reasonable.
Nevertheless, string operations have been optimized the recent years in browsers and users still have a choice by using the previous dependency "parse-function" instead.

I will check the recent changes soon for my

[2016-01-29 14:18] tunnckoCore opened #3 "Low-prio: failing when something after CLOSE_CURLY"
e.g.

[code]

resolved locally

[2016-01-30 09:53] cmtt commented on #2
Hi @tunnckoCore,

it seems that the chosen solution might not be as error-prone as the previous regular expression solution.

Consider this function (it was shortened):

[code]

parse-function returns the following object:

[code]

Interestingly, when I change the line `var hasError = results.failed > 0;` to something else, it works flawlessly.

I will see if I can do something about that, it migh

[2016-01-30 10:01] cmtt commented on #2
Apparently, the parser doesn't check for the equals sign, thus a line like `var hasError = results.failed > 0;` might be interpreted as an arrow function.

The majority of string parsers I know implement a variable or method to peek at least one character ahead. I guess, you might want to implement a peek() function or a variable containing the next character when you are parsing the function body

[2016-01-30 16:12] eush77 opened #5 "Functions containing GREATER_THAN are parsed incorrectly"
[code]

Functions that contain `>` character are loosely [considered](https://github.com/tunnckoCore/parse-function/blob/302a965ef391aadb705ba3c63ca2d9c95d2a7e3d/index.js#L81) arrow functions in `walk`, and later in `build` function `params` and `args` properties are [computed](https://github.com/tunnckoCore/parse-function/blob/302a965ef391aadb705ba3c63ca2d9c95d2a7e3d/index.js#L148-L149) incorrect

[2016-01-30 16:58] tunnckoCore commented on #5
Aaaand yes, problems start appearing, haha - normal. But that's the interesting, I like to play this game and experimenting and learn new things.

Thanks for the report, I'll review what I can do.

Cheers,
Charlike.

[2016-01-30 17:35] tunnckoCore commented on #5
Actually, when i built `walk` that way i though to check prev `ch` for `=` which would be the correct way.
I reviewed few parsers and have some idea.

We need strongly to implement benchmark tests. If it is slower, then we can return to `regex`, otherwise we will stay that way and will try to fix every new issue.

[2016-01-30 17:36] tunnckoCore opened #6 "benchmarks"
maybe using `benchmarked`

Any PRs welcome, cuz don't have the time atm (for the next days)

[2016-01-30 17:41] tunnckoCore opened #7 "hints and ideas for improving"
ref #5 #4 and #2

We should detect that there's new line and mark that fact, then we can detect of `ch` is after some comment opening like `//` or `/*`.. and hm.

Okey. Other approach can be using `snapdragon`, but we strongly need benchmark tests **first** before any steps forward.

//cc @eush77 @cmtt

[2016-01-30 17:44] tunnckoCore commented on #2
:+1: and https://github.com/tunnckoCore/parse-function/issues/5#issuecomment-177258156 and i've just opened #7

[2016-01-30 18:18] eush77 commented on #7
I think we need some expression parsing anyway to handle ES6 default parameters:

[code]

However, we don't actually need a full-fledged ES parser (like acorn) for that, and basic preparsing would allow us to skip default parameters and capture argument names very quickly.

I'm not familiar with snapdragon, but simple recursive descent would definitely work. For that we need to implement several s

[2016-02-01 17:24] tunnckoCore commented on #7
Hmmm. Okey, I made some benchmarks tests and with regex is 40-60x faster, lol. So we will back to regex approach. I already have ready regex that handles regular and arrow functions.

[2016-02-01 18:39] #6 closed, assigned to nobody

[2016-02-01 18:40] #5 closed, assigned to nobody

[2016-02-01 18:40] #7 closed, assigned to nobody

[2016-02-01 19:38] cmtt commented on #2
You rock. Thank you a lot!

[2016-02-01 21:26] eush77 opened #8 "ES6 default parameters"
Default parameters are not currently supported:

[code]

I would expect something like this:

[code]

But perhaps it's even better to capture default params instead of throwing them away:

[code]

[2016-02-01 21:27] eush77 commented on #7
@tunnckoCore What I'm saying is that regexes won't ever support ES6 default parameters feature (see #8).

There are many modules that do regex-based parsing ([js-args-names](https://github.com/lgvo/js-args-names) is one example), but they all are broken for ES6. We can do better and be the first module that works correctly with ES6.

[code]

[2016-02-01 21:52] tunnckoCore commented on #2
@cmtt hahah, thanks.

Hope latest release (`v2.2.2`) works for everyone.

[2016-02-01 21:55] tunnckoCore commented on #7
@eush77 you're right. PRs always welcome :)

[2016-02-01 21:56] tunnckoCore commented on #8
Yea, yea.. that's was in my mind, but I've just forgot it. lol.

[2016-02-01 22:26] tunnckoCore commented on #8
@eush77 any help and ideas will be appreciated.

[2016-02-02 00:29] tunnckoCore commented on #8
@eush77 what about if there's also parameter that dont have defaults? e.g. `cb` from below code?

[code]

should that `.defaults` property in the result object, contain the `cb` ? What's your expectations?

I'm now playing with `acorn`.

[2016-02-02 01:39] tunnckoCore commented on #8
@eush77 @cmtt, Is that okey? Lol, it's pretty fun to play with this things, haha.

[code]

Using acorn (acorn_loose) all test cases are passing + bonus more test cases...

[2016-02-02 02:08] tunnckoCore commented on #8
It's sad that performance is 2-3-4x slower using `acorn`... ;/ but it is faster than `string looping` approach.
But I think there's no other way to handle all correctly.

[2016-02-02 03:49] tunnckoCore commented on #8
closing as of `v2.3.0`

Again, very thanks! Hope this helps! [Review the changelog](https://github.com/tunnckoCore/parse-function/blob/master/CHANGELOG.md#230---2016-02-02).

[2016-02-02 03:49] #8 closed, assigned to nobody

[2016-02-02 03:50] tunnckoCore commented on #7
Again, very thanks! Hope this helps! [Review the changelog](https://github.com/tunnckoCore/parse-function/blob/master/CHANGELOG.md#230---2016-02-02).

[2016-02-02 11:15] eush77 commented on #8
@tunnckoCore Oh, that's great news! :+1: for correctness.

`acorn` is definitely too much, I will try to crank up performance and send a PR if I succeed. It's good the benchmarks are included.

[2016-02-02 12:31] tunnckoCore commented on #8
Yea. It's lil' bit sadly, but I think we can't handle it without `acorn` or any low-level-awesome-parser. It's impossible, there are too much things. And if it can be done with `string looping` approach it 100% will be slower than using `acorn` directly - that's why i just used it.

I like the way that versions became. If you just dont need arrows, and at all es6 things, he can just stay to v2.0.x

[2016-02-02 12:50] eush77 commented on #8
One thing about `acorn` is that it gives you not only function expression node and args, but also the function body, which means it takes some time to scan it and parse into AST which we absolutely don't need. String looping can stop early, just after function args.

[2016-02-02 12:59] tunnckoCore commented on #8
:+1: right

Will wait if you can do something sometime in the future, would be awesome!

That's works for me currently and it's no so big damage. :)

Cheers :beers:,
Charlike!

[2016-02-15 05:19] ORESoftware opened #11 "comments in parameters"
Just wondering if this library has any problems when parsing comments in args like so:

[code]

thanks

[2016-02-16 00:29] ORESoftware opened #12 "support for generator functions and async functions"
Loving this lib so far, but it appears that it is not currently configured to parse generator functions and async functions

[code]

and async functions

[code]

can this be confirmed and do you plan to update it if so? thanks!

[2016-02-16 16:38] tunnckoCore commented on #12
Which version you use? It should work for generator functions (im not sure) because v2.3.x is on top acorn.

I'll check and add tests ASAP, or you can PR some tests :)

[2016-02-16 16:39] tunnckoCore commented on #11
Hmm.. i don't think so, try.

You can PR test, thanks! :)

---

edit: btw @ORESoftware what you expect? because I think it would be stripped.

[2016-02-16 16:48] tunnckoCore commented on #11
[code]

I think that's the correct result. And can't be in other way, we stay on top of `acorn`.

[2016-02-16 16:55] #11 closed, assigned to nobody

[2016-02-16 17:01] #12 closed, assigned to nobody

[2016-02-16 17:04] tunnckoCore commented on #12
@ORESoftware use `v2.3.x` if you need advanced things - it have full support for what acorn can do. The other versions not uses `acorn` so things like that are hard and not handled.

If you just need to get arguments/parameters use `v2.0.x` it is much faster.

[2016-02-16 19:36] ORESoftware commented on #12
Thanks yeah I need to parse ES7 functions - async functions and generators\*  - it looks like you use / acorn uses ES7 parsing by default. I am not concerned about speed- I just need reliability for this

[2016-02-16 21:52] tunnckoCore commented on #12
@ORESoftware yea i forced ES7, acorn's default is ES6 (meaning acorn ecmaScript default is 6, parse-functions force it to 7) :)

Thanks using it!

[2016-02-16 21:52] ORESoftware commented on #12
yeah it's working for me so far

[2016-02-18 08:21] tunnckoCore opened #13 "expose property in response which to say if given value is arrow function or normal function?"
remind the AST (_hint: [index.js#L67-L69](https://github.com/tunnckoCore/parse-function/blob/master/index.js#L67-L69)_)

[2016-04-12 12:34] rkaw92 opened #14 "Bound functions and other gibberish"
Apparently, this is considered valid (at least on 2.3.1):

[code]

I'm not quite sure if this is the result everyone expects, given that the returned body is " [native code] ".
Even more mind-boggling is this:

[code]

In which parallel universe can V8 execute this? The "valid" flag seems misleading. Might be worth adding some warnings to the README.

In particular, assuming " [native code] " is v

[2016-04-12 12:55] rkaw92 opened #15 "Class methods"
Parsing class methods seems to yield empty bodies, anonymous names and empty arg lists.

Example:

[code]

Both console.logs will print `{ name: 'anonymous', args: [], params: '', body: '' }`.

I suspect it is because `.toString()` on methods returns the exact representation from the code, from the first to the last token, so in our case (tabs originally in the string):

[code]

The same problem o

[2016-04-12 15:50] tunnckoCore commented on #15
Hey, very thanks! I'll look into it, I think we just should look more on acorn ast.

[2016-04-12 16:04] tunnckoCore commented on #14
Yea, I also noticed the bound problem somewhere before some time.

:laughing: :+1: The `valid` don't have meaning that you may expect. It was added, because to determine if "good" input is passed or not, and because I didn't want to throw errors or return falsey value. Its meaning still is partially valid to me. But yea, I maybe should rethink it, I'll recheck.

Good point.

Thanks for the thought

[2016-04-12 16:09] tunnckoCore commented on #14
I think the reason for that to be even parsed is using `acorn.parse_dammit`. And there was reason to using it, I don't remember it now.

[2016-04-12 16:19] tunnckoCore commented on #15
I'm starting to think it may be `acorn` issue.

[code]

throws a syntax error. Or maybe this is the reason why `acorn.parse_dammit` exists. And that's why I using it, because such cases. I'm looking on ast that `parse_dammit` returns for that, may need more `if`s in the `walk` :)

[2016-04-12 16:24] tunnckoCore commented on #15
There are few ways:
1. detect if result of `toString()` begins with `function` or at least the letter `f` and if not prepend it
2. add `if` in the walk to listen to `CallExpression`

Second feels kinda wrong to me and I'm thinking it would mess the things more than it solve them.

[2016-04-12 17:19] #15 closed, assigned to nobody

[2016-04-12 17:21] tunnckoCore commented on #15
What you think about the fix?

edit: Ooops, labels should stay.

[2016-04-13 07:41] rkaw92 commented on #15
As much as I am bewildered by the choice of substring check mechanism ([0] and [1] - I assume it's for performance reasons), this is exactly the workaround that I did in my code:

[code]

I agree that it is the sane thing to do. Checking for function calls is probably best left alone - there is another npm module for that (extracts call parameters), and it may be wise not to expand into that field

[2016-04-13 07:45] rkaw92 commented on #14
I think it may be beneficial to provide an option to switch to using the more restrictive parser, though I have not checked what acorn emits from `.parse` for such function strings.

(As a side note, I'm using `parse-function` for parsing prototype methods, and soon class methods, for automatic exposure via an API in Java-annotation style.)

[2016-04-13 10:29] tunnckoCore commented on #15
Yea.

You can try http://npm.im/function-arguments, it works for regular, generator and arrow functions. If you need support only for regular functions can use Sindre's `fn-args`, it's lighter and probably faster.

It would be better choice to use one of them if you only need getting arguments.

[2016-04-13 23:07] tunnckoCore commented on #14
To be clear, you mean option to use `.parse` instead the default `.parse_dammit`, right?

If that's your point, great idea. I'll add it.

[2016-04-13 23:10] rkaw92 commented on #14
Dnia 14 kwietnia 2016 01:07:41 CEST, Charlike Mike Reagent notifications@github.com napisał(a):

Indeed, that is what I meant.

[2016-04-19 18:04] tunnckoCore commented on #15
Oh sorry, i forget to publish. I doing it now :) `v2.3.2`

[2016-06-07 06:25] skamenetskiy opened #18 "ES6 features"
Hey, I'm trying to use some ES6 standards, which should be supported according to the readme.

[code]

[2016-06-07 08:16] rkaw92 commented on #18
Hi, I'm not sure the readme promises to support _object destructuring_. It says this:
`full support of es6 arrow functions and es6 default params`

And indeed, the following seems to work (though it does not "save" the default value anywhere):

[code]

[2016-06-08 03:00] tunnckoCore commented on #18
Yep. Need more work, it is just thin layer on top of acorn ast, so PRs welcome. Just need more `if`s ;d

[2016-06-08 03:04] tunnckoCore commented on #18
Also, I'm not sure what should be the response for your examples, @skamenetskiy.

[2016-12-07 15:13] tunnckoCore commented on #18
@rkaw92, @skamenetskiy hi there.

Last few weeks i'm digging more and more on parsers, bundling and etc stuff and now i'm lookin into `babylon` ast, so I can improve that things.

[code]

[2016-12-07 17:50] tunnckoCore commented on #18
Actually, no, won't do anything. It totally not make any sense to have support for destructing. Default arguments make sense, because they have _names_ which you can point to.

That library has one main purpose, stay as small and simple as possible. Super useful for dependency injection and etc stuff. If the user won't the cost of full using source code parsers like `acorn` and `babylon`, then so

[2016-12-07 17:59] tunnckoCore commented on #18
So this is invalid for me

[code]
and won't be supported.

As about mixing `default arguments` and `destructing`...
Consider the following (edited from your snippets)

[code]

I'm going to close this one and update the package. Possibly will publish v3 using `babylon` or latest `acorn`

[2016-12-07 17:59] #18 closed, assigned to nobody

[2016-12-07 18:24] tunnckoCore commented on #14
@rkaw92 what you thinking about switching to `babylon`?

[2016-12-07 18:41] tunnckoCore opened #23 "v3"
- #18 last comment
- #14
- drop long name properties
- allow both babylon or acorn to be used
- allow loose parsing (that's because the `function () {}` cant be parsed if no `acorn_loose`)
- allow options to be passed to babylon/acorn

[2016-12-08 18:43] rkaw92 commented on #14
I honestly don't know much about it yet - let me check. Another possibility is `esprima`. Before choosing, do you think that a switch from `acorn` is necessary?

[2016-12-09 00:20] tunnckoCore commented on #14
Not sure, too. But I think it will be better, because it has support for everything out of the box, without specifying some options. All of them are the same, the question is which is faster. I will do some benchmarks and if babylon is faster than acorn, i'll switch to it.

Another thing is that we can introduce `parser` option, noted in #23

[2016-12-09 00:30] tunnckoCore commented on #14
It seems it can parse `async/await` functions even with `ecmaVersion: 2017`. With parser behind Babel, will be able to have better support for everything and somehow I believe it can be faster.

[2016-12-09 11:26] rkaw92 commented on #14
Supporting two parsers sounds like adding ballast that could backfire in the long term, especially if minor differences in the output leak through the abstraction. How well will you be able to unify the return value?

[2016-12-09 13:04] jamen commented on #14
Aren't they unified through the [ESTree spec](https://github.com/estree/estree)?  Babylon [has a few notes on deviations from the spec](https://github.com/babel/babylon#output) as well.

I've created a few `estree-*` modules that do operations over those nodes.  I haven't tested much with `acorn` or `babylon` to be honest, but I would assume you'd be fine because [people from both projects](https:

[2016-12-09 13:56] tunnckoCore commented on #14
@rkaw92 it won't be a problem

@jamen, exactly, there's no diffs in that nodes that we use here.

[2016-12-09 21:49] tunnckoCore commented on #14
@rkaw92 I believe #24  as it is currently can fix that problem? You will be able to use different parsers :)

Let's close this one?

[2016-12-09 21:49] #23 closed, assigned to nobody

[2016-12-09 21:50] tunnckoCore commented on #13
done in v3 (#23, #24)

[2016-12-09 21:50] #13 closed, assigned to nobody

[2016-12-09 23:17] tunnckoCore commented on #14
It works with `espree` too :) I'm just going to push the benchmarks and updated tests.

[2016-12-09 23:55] tunnckoCore commented on #14
v3 was just published and it looks fantastic to me :) Tests are passing for all kind of parsers - acorn, babylon and espree. Benchmarks of v3 are almost the same as `v2.3.2`.

I'll close this one, let me know if there's more to do.

[2016-12-09 23:55] #14 closed, assigned to nobody

[2016-12-15 03:25] the1mills opened #25 "issue with some chars"
There was a glitch! :)

**Charlike, charbright, the char I see tonight!**

https://www.youtube.com/watch?v=6oEuT97x-Qc

[2016-12-18 20:51] tunnckoCore commented on #25
??

[2016-12-18 20:51] #25 closed, assigned to nobody

[2016-12-18 20:59] tunnckoCore opened #26 "improve code climate shits"

[2016-12-20 09:38] the1mills commented on #25
this was just a silly joke :) humor!

[2016-12-20 12:09] tunnckoCore commented on #25
@the1mills yea got it ;D

[2017-01-19 15:15] serapath opened #27 "seems to not work with es6 method notation"
[code]

otherwise, the module is exactly what i was looking for. thx :-)

[2017-01-19 15:24] tunnckoCore commented on #27
thanks for the report. what version you use and what err is thrown?

[2017-02-20 03:40] lrowe commented on #27
I'm seeing this too with version 3.0.0:
[code]

[2017-02-20 11:20] tunnckoCore commented on #27
@lrowe thanks! I'll look.

[2017-02-20 11:44] tunnckoCore commented on #27
@lrowe @serapath, sadly I don't see how can support this, since such function don't have correct toString. It is possible of course. The only thing that I think is to make kinda hack - detect if result of to string is such, then wrap it with `'var o = { ' + val.toString() + ' }'` an after than pass it to the parser and visit the ast.

I can do it, but it will work for Babylon, it is not guaraneed

[2017-02-20 11:53] tunnckoCore commented on #27
Also, it going more worse when `var b = { *[Symbol.iterator]() {} }` for example. Another case is class methods. I don't it would be implemented, because it is kinda tricky and too hack, so we won't support such in near future.

But any ideas and trick that work without so magic is welcome.

[2017-02-20 18:17] lrowe commented on #27
I'm not sure it's necessarily that bad, mostly we're just missing the 'function' part:
[code]

Maybe we can detect with a regex?

That doesn't work for the iterator case, but looks like there's a bug with anonymous iterators even without the method syntax:
[code]

Without the iterator / non anonymous generators work:
[code]

(Unrelated, but maybe it would be better to have `name: undefined` here t

[2017-02-20 19:32] tunnckoCore commented on #27
I don't think it would be just that.

No. Kinda like to have defaults. In both way you finally will kinda write "|| anonymous" somewhere else.

yep, because the hack that is done. And that hack exists because parsers throw when anonymous function is passed.

Try

[code]

Btw, just seen that there is missing tests for generator fns, hehe, thanks.

[2017-02-20 21:35] lrowe commented on #27
I see the isAnonymous() method so seems that is covered. Might be nice if the name of an anonymous function was an invalid identifier to avoid confusion with `function anonymous() {}`.

Wrapping in parentheses to parse as a FunctionExpression rather than a FunctionDeclaration should avoid the need for the hack:
[code]

The resulting structures are only slightly different:
[code]
[code]

[2017-02-20 21:40] tunnckoCore commented on #27
Hm. Good catch. Can try these days. Or if you want go with PR :)

Maybe make sense, yea. Hm. So if it is real anonymous to not have name set, if it is function named `anonymous` to be `name: 'anonymous'`, so users should relay on `.isAnonymous` not on the name. Maybe for v4, yea.

[2017-02-21 00:31] lrowe commented on #27
Forgot the part relevant to this issue... There's still the problem with methods. I've been unable to come up with a regular expression which correctly distinguishes methods from functions in all permutations of symbols/strings, arrow/regular, named/unnamed, methods/non-methods.

Instead we could first attempt parsing the function wrapped in`'(' + fn.toString() + ')'` and if babylon.parse raises a

[2017-02-21 00:42] tunnckoCore commented on #27
That's why this package exists and uses javascript parser. :D But there's also https://github.com/tunnckoCore/function-arguments if anyone want just args, based on RegExp.

Something like that, yea. But maybe it would be more better if just toString and check if it starts with `function ` (with trailing space).

[2017-02-21 01:19] lrowe commented on #27
Parsing with Regexp is a non starter in the face of default parameter values (which can be any Expression.) I'd thought I could find a RegExp that would work for just distinguishing methods/arrows/regular functions by matching up until the parameters, but I failed.

This was my best attempt:
[code]
Note the incorrect result for non-generator symbol methods which I'm unable to distinguish from an a

[2017-03-03 01:28] tunnckoCore commented on #27
I just started to think for some kind of plugins API :D maybe sounds like a crazy idea, but it is pretty minimal and will allow more handling of each `node`. And basically, I just find a need for such API.

it will fire the plugins inside of the `body.forEach`, kinda

[code]

and we'll have one default plugin ;p

***

edit: how plugin would look like

[code]

they get the current `node` (ast) and

[2017-03-03 01:44] tunnckoCore opened #28 "Release v4"
**1)** Plugins API - https://github.com/tunnckoCore/parse-function/issues/27#issuecomment-283837698
**2)** Some kind of fix for #27
**3)** Real anonymous functions will have `result.name` undefined and `result.isAnonymous: true`, where the functions named "anonymous" will have `result.name === 'anonymous'` and `result.isAnonymous: false`

[2017-03-03 04:31] lrowe commented on #27
Looks like babylon just added `parseExpression` https://github.com/babel/babylon/blob/7.0/CHANGELOG.md#6160-2017-02-23

The overhead a dynamic plugin architecture (with a way to register plugins, etc.) seems overkill, but breaking down the functionality into constituent pieces seems worthwhile, that way I could just call the function that extracts function argument names.

[2017-03-03 04:52] tunnckoCore commented on #27
Actually yea, seen that before some time, but didn't realized that it can be used here. I'll try it for the next release (#28).

As about that plugins seems overkill - no, actually they simplify the codebase and allow more work on the AST if needed - for example is the body of the function includes something.

thought for that before few hours.

[2017-03-07 05:56] #27 closed, assigned to nobody

[2017-03-07 06:55] tunnckoCore commented on #26
https://github.com/tunnckoCore/parse-function/commit/957e9945124fd1d52db7e5a22f6f6809cb6b5a63 and https://github.com/tunnckoCore/parse-function/commit/bde2cfd4f225a0a38f34b088e963e12107ac8e99

[2017-03-07 06:55] #26 closed, assigned to nobody

[2017-03-07 07:06] tunnckoCore commented on #28
https://github.com/tunnckoCore/parse-function/commit/8dbfa15aa71e83967a1ba9c73d115b61e33578f4 - 270 tests - using babylon, acorn and espree.

[2017-03-07 07:06] #28 closed, assigned to nobody

[2017-03-07 07:14] tunnckoCore commented on #28
See [test.js#L275-L287](https://github.com/tunnckoCore/parse-function/blob/master/test.js#L275-L287) for 3rd bullet.

[2017-03-07 14:09] tunnckoCore commented on #27
@lrowe, @serapath v4 is on the master, tagged, still not published to npm but ready for use :)

Later today i'll publish it. Feedback welcome :)

[2017-03-07 14:11] tunnckoCore commented on #18
@skamenetskiy v4 is on the master. You could do what you want now, because we have plugins api and relies on Babylon by default (but can be switched). :) Feedback welcome :)

[2017-03-08 01:27] the1mills commented on #26
❤️ ✨

[2017-03-08 01:30] tunnckoCore commented on #26
@the1mills v4 is just published on npm ;p feedback welcome.

[2017-03-08 05:51] the1mills commented on #26
Will do, is there a changelog!

[2017-03-08 06:26] tunnckoCore commented on #26
Yea, at the root of the repository. And the readme is pretty big. Let me know if something is not clear.

[2017-03-08 15:19] jbeezley opened #29 "Files missing in v4 release"
After installing the latest release, I get the following
[code]

Inspecting `node-modules/parse-function`, the `lib` directory is not present.
[code]

[2017-03-08 15:33] tunnckoCore commented on #29
damn, really, missed that. good catch, ill update

[2017-03-08 18:25] jbeezley opened #30 "Error parsing class method"
I've run into a strange edge case on the most recent version trying to parse a class method that contains an arrow function.  Here is a minimal example:
[code]
This results in
[code]
Removing the arrow function, it works as expected.

I'm not sure if this is a babylon bug or not because the string representation of the function is
[code]
which I don't think is a valid expression on its own.  This

[2017-03-08 18:31] tunnckoCore commented on #30
Strange. Not make sense. Maybe it seems invalid to babylon. Can you try with the other parsers?

There is actually a test about object methods, so it not make sense to not work for class methods, since they are the same thing.

I'll review what happens, thanks for the report.

[2017-03-08 18:33] tunnckoCore commented on #30
Actually, yea. [index.js#L120](https://github.com/tunnckoCore/parse-function/blob/master/index.js#L120) is the problem. damn.

edit: One more proof the 100% coverage is never enough.

[2017-03-08 20:44] #29 closed, assigned to nobody

[2017-03-08 20:45] jbeezley commented on #29
Thanks for the quick fix!

[2017-03-08 20:59] tunnckoCore commented on #29
Publish will be delayed for a bit, until #30 :)

Thanks for the usage and report!

[2017-03-08 21:42] #30 closed, assigned to nobody

[2017-03-08 21:53] tunnckoCore opened #31 "Bug when object method has default arguments"
Something like this https://github.com/tunnckoCore/parse-function/blob/master/test.js#L27 but as object method.

[code]

[2017-03-08 21:57] tunnckoCore commented on #29
Published as v4.0.1 and will publish 4.0.2 for #31

[2017-03-08 21:58] tunnckoCore commented on #30
Published as v4.0.1 and will publish 4.0.2 for #31

[2017-03-08 22:01] #31 closed, assigned to nobody

[2017-03-09 13:04] jbeezley commented on #30
It's working great now.  Thanks!

[2017-07-25 19:15] keenahn opened #32 "Breaks on destructured args"
[code]

Any plans on incorporating this in the future?

[code]

[2017-07-26 00:03] tunnckoCore commented on #32
What may be the expected result? I really starting to not like such cases, especially in that package :D It's a bit hard to decide, in first place. And in second, it is one single argument without a name.

It may be implemented of course, it's not that hard, since that's just AST and that package support plugins. It can be, but it's a bit confusing what the result should be, and if not that, it ma

[2017-07-26 00:07] tunnckoCore commented on #32
In any way, pull requests are welcome if we can think for some good end result. But again, I prefer to not add too much when there is plugin API and because it already has pretty good support of (ES6) features.

[2017-07-26 14:01] keenahn commented on #32
No problem. I'll think about implementation as a plugin. BTW, do you have a list of known plugins? :)

[2017-07-26 14:09] tunnckoCore commented on #32
Great! Ping me with `@charlike` or `@tunnckoCore` (because i'm thinking of some github/npm changes ;d) when/if you make some plugin, so i'll link it :)

No, for now we don't have other plugins :)

Very thanks for the interest!

[2017-07-31 06:39] keenahn opened #33 "Suggest `args` be called `params` and `params` be called `paramsString` or something"
Based on the widely accepted definition, both of these describe formal parameters and neither describe arguments, so should move away from using `args`.

https://en.wikipedia.org/wiki/Parameter_(computer_programming)

[2017-07-31 14:16] tunnckoCore commented on #33
Probably good point, but that would be breaking change that i don't want, currently. Maybe can be delayed to next major version bump.

[2017-07-31 14:18] tunnckoCore commented on #33
But when i think it, even with major it will be confusing, because the old `params` will be the old `args` and `args` will be removed, so..

[2017-08-10 10:18] tunnckoCore commented on #33
Sorry, but won't do it. These are stylistic and semantic things + above comment, even with major it would be confusing and totally reversing thing.

I'm going to publish new release, but won't update that thing, will require just boilerplate updates and requires node v6.

[2017-08-10 10:18] #33 closed, assigned to nobody

[2017-08-10 10:20] tunnckoCore commented on #32
hey! ;wave: it would be awesome if you create a plugin! Please feel free to open a PR for adding it in the readme :)

[2017-08-10 10:20] #32 closed, assigned to nobody

[2017-08-11 15:31] tunnckoCore opened #44 "add notes for the different versions"
much like was in v4 readme

_For some wanting to PR, see v4 readme._

[2017-09-01 20:13] gunar opened #47 "Destructuring"
Yo, how hard would it be to make this package understand destructuring?

[code]
Wanted to ask before trying to do it myself.

[2017-09-01 21:15] tunnckoCore commented on #47
I think it wouldn't be easy. Or if it is easy, it is very strange case and may lead to more things. Once i asked, one should be the expected result of such arguments?

But yea, in any way, it's cool because we support plugins, so i don't think it would be needed to include it by default. If it isn't something big - yes, otherwise no.

Can't answer, didn't see or remember what the AST would be in d

[2017-09-01 21:16] tunnckoCore opened #48 "add "Plugins Architecture" and "Result" sections"
huh, didn't notice that until now, sorry about that.

_For some wanting to PR, see v4 readme._

[2017-09-20 19:19] TooTallNate commented on #47
I was able to make it work the way I expected with a few lines of code:

[code]

Feel free to merge upstream if you would like.

[2017-09-20 20:20] tunnckoCore commented on #47
Sweeeet! :) You can release it as plugin now, so we can add it to the readme :tada:

[2017-09-22 14:55] TooTallNate opened #61 "Strange parser error when an `if` statement is at the top of an async arrow function"
Apologies if this is not a bug in `parse-function` itself, but I've tried this with all 3 recommended AST parsers and they all exhibit the same problem.

A parser error is thrown when an async arrow function has an `if` statement at the top. Ex:

[code]

Strangely, the same error is thrown _even if the `if` statement is commented out!_

[code]

Now, it works if I remove the `if` statement:

[code]

[2017-09-22 18:18] tunnckoCore commented on #61
Hey there! :wave: Thanks for the report, it sounds me like problem here.
I bet it's because of this here [src/index.js#L106-L113](https://github.com/tunnckoCore/parse-function/blob/master/src/index.js#L106-L113).

The idea about that `if` there, is if we have passed async method, then we should wrap it in object, so the parser can parse it correctly.

Can you try to add this check too and try agai

[2017-09-22 18:31] TooTallNate commented on #61
@charlike The patch works for me 👍 Thank you for the quick turnaround on that!

[2017-09-22 22:53] tunnckoCore commented on #61
Sweeeet! :D I love myself sometimes for such fast responses with good end :)

PR is welcome, otherwise i can push patch in coming days. Let me know if you need some help on contributing.

[2017-09-23 01:26] TooTallNate commented on #61
Well it's your patch. I look forward to the upcoming release 👍

[2017-09-23 07:36] the1mills commented on #61
🐯🐯🐯🐯🐯🐯🐯🐯

[2017-09-23 13:53] tunnckoCore commented on #61
@the1mills what? :joy_cat: haha

@TooTallNate actually, yea, but it's not a problem for me. Go pr if you need it more soon.

[2017-09-25 11:25] TooTallNate commented on #61
Please see https://github.com/tunnckoCore/parse-function/pull/63.

@charlike P.S. I'd be happy to be added as a contributor, if this module has become a burden on your time.

[2017-09-26 18:02] #61 closed, assigned to nobody

[2017-09-28 23:21] tunnckoCore commented on #61
heya, just seen your comment here.

no, it's not, just i'm in period of switching ISP providers and following through smartphone is hard, haha.

i'll add you once I get stability and time, no problem :)

[2017-10-06 05:43] tunnckoCore commented on #3
Should we handle this? This lib isn't meant to do that, in my opinion. It is meant to be passed with an actual function, so such scenario is rare case.

[2017-10-06 06:39] #48 closed, assigned to nobody

[2017-10-06 12:21] mauriciomelo opened #71 "Parse bound functions"
reproduce:

[code]

error:

[code]

[2017-10-06 13:39] tunnckoCore commented on #71
bind is not preferred, this - too. I understand that there are cases such in react, but I dont think it is a problem here - the parser fail so I cant do much (looking in first glance).

that's the beauty of the plugins api, try handle it with plugin?

[2017-10-06 13:39] tunnckoCore commented on #71
with "this" above I mean `this`

[2017-10-06 18:22] mauriciomelo commented on #71
The example above is the simplest I could reproduce, the real scenario is bit more complex, I want to be able to parse a class (instance) method and preserve it's context. I don't have much control over what is passed to my lib's public api, that's why I can't refact it to not use `this`.

The interesting part is that when I use babylon.parse() directly it does not throw any error.

[2017-10-07 08:45] tunnckoCore commented on #71
because we use parseExpression by default.

why not just pass that method instead of passing bound fn of it?

[2017-10-07 18:20] mauriciomelo commented on #71
passing just the method seems to not preserve the context

But... I was wondering that even if the bound fn did parse I would lose the params (and defaults) because:

[code]
but
[code]

My options right now are:
* pass the entire instance (not only the method), for example `myLib.define(instance)` instead of `myLib.define(instance.method)`
* add an optional param to handle context,  for example `m

[2017-10-07 18:20] #71 closed, assigned to nobody

[2017-10-07 20:31] tunnckoCore commented on #71
What context, what five dollars? Sorry, but absolutely seriously, I can't get for what you are talking about. ;/

You just pass a function and then work with its parsed parts - params, name and string body. Nothing to deal with context, we do nothing to your function too, its context is the same.

What are you trying to do? Can u share code?

[2017-10-07 22:07] mauriciomelo commented on #71
the problem is that my lib didn't accept plain objects, so I had to pass an array of functions. the process of converting object methods into an array makes it "unbind" it's parent, for example

[code]

there are probably a bunch of typos there but hopefully it is understandable

[2017-10-07 23:25] tunnckoCore commented on #71
oh yea, I got it. it was definitely an architecture/concept design mistake. so yea, always thinking twice is the best thing

[2017-10-09 14:54] tunnckoCore commented on #44
done, just forgot to link it.

[2017-10-09 14:54] #44 closed, assigned to nobody

[2017-12-08 08:57] tunnckoCore opened #93 "npm version and github release are not in sync"
probably because semantic-release and such things... i'll make updates to all @tunnckoCore projects in coming days so it will be fixed.

[2018-01-26 10:04] ericmorand-emakina opened #102 "Error when parsing a native function"
Consider the following code:

[code]

This throws an exception `SyntaxError: Unexpected token, expected , (1:25)` coming from babylon:

[code]

Is this an expected behavior? Is it possible to parse native functions?

[2018-01-31 05:04] tunnckoCore commented on #102
Hey! I assume yes. Please try out just to parse it with babylon and report back.
Actually when thinking it, probably is not possible cuz we read them with `toString`.

[2018-02-09 13:08] ericmorand commented on #102
Tested with babylon, same problem. You can close.

[2018-02-09 13:18] ericmorand opened #110 "Bug with arguments default value consisting of a list of expressions"
Consider the following perfectly valid function:

[code]

When called with no parameter, this function returns `true`.

Parsing it with parse-function...

[code]

...return the following defaults:

[code]

The defaults should be:

[code]

[2018-02-09 13:23] ericmorand commented on #110
Note that this syntax is used by istanbul (among others) to add instrumentation to function default parameters:

[code]

This bug makes adding code coverage impossible when parse-function is used to retrieve default values.

[2018-02-09 14:00] ericmorand commented on #110
Not thoroughly tested plugin that work around the issue:

[code]

But I think this should be dealt with by the official plugin.

[2018-02-09 15:14] tunnckoCore commented on #110
Please use the syntax highlighting.

Thanks about the solution. And yea, it has basic support, intentionally.
That's the beauty of the smart plugins api 🚀

Anyway, I'm not against to include it in core. If you want PR it and write some tests (the example from first comment is enough for start, imho).

Just create new file in `src/lib/plugins` directory and add it after this:

https://github.com/tu

[2018-02-09 15:15] #102 closed, assigned to nobody

[2018-02-09 15:19] ericmorand commented on #110
I'll take care of the PR.

What do you mean? Is there more than just code formatting?

[2018-02-09 15:36] tunnckoCore commented on #110
I'm talking about the comments here.  like that

[code]

[2018-02-09 15:39] ericmorand commented on #110
Wow, how do you do that?

EDIT: Ok, found it. Thanks.

[2018-02-09 16:20] tunnckoCore commented on #110
Here it is https://guides.github.com/features/mastering-markdown/

[2018-02-09 20:40] ericmorand commented on #110
I'm trying to execute the test suite but I have an error:

[code]

Do you have an idea? I switched to node@6.2.2 then node@8.9.4, removing node_modules then running npm i after each change and nothing worked.

Why would rollup be missing from /hela-preset-tunnckocore?

[2018-02-09 20:55] tunnckoCore commented on #110
Hm, damn. Did you installed deps with `yarn`? Btw, the CONTRIBUTING guide is a bit outdated.

Make sense, a bit. Can't describe it now :D

[code]

Works here.

[2018-02-09 21:01] ericmorand commented on #110
Good catch! I used npm instead of yarn.

I could haveswore that yarn was just a faster and more secure CLI for npm but it seems it's more than that. Thanks.

[2018-02-09 21:07] tunnckoCore commented on #110
Yea, it is amazing. But today i'm considering to switch finally to `pnpm` - it is amazing now. I used it for awhile when was released but had some problems to my workflow. And btw, still will have another problems, so that's why i'm not sure enough. But is even faster and greater than Yarn and Npm.

[2018-02-09 23:31] ericmorand commented on #3
I tend to agree that this lib should not handle that case which is _not_ a function.

[2018-02-10 06:39] #110 closed, assigned to nobody

[2018-02-10 08:12] tunnckoCore opened #114 "fake issue"
testing https://github.com/apps/triage-new-issues update

[2018-02-10 08:13] #114 closed, assigned to nobody

[2018-02-13 05:37] TooTallNate opened #118 "v5.1.3 doesn't have a `dist/index.js` file"
And thus is broken:

[code]

[2018-02-13 08:17] tunnckoCore commented on #118
ahhh, damn, knew it! sorry but cant fix it immediately, im not ot desktop ;/

later this day. try >=5.1.0<5.1.3 ?

sorry about that again.

[2018-02-13 08:27] tunnckoCore opened #119 "Ensure dist builds exists"
for the v5 releases.

all this problems will disappear on v6, which also will require node 8.6+, npm 5.2+

[2018-02-13 08:33] TooTallNate commented on #118
Ya I already pinned locally, was just letting you know 😛

[2018-02-13 10:30] tunnckoCore commented on #118
cool, which is the last working version?

[2018-02-13 17:35] TooTallNate commented on #118
5.1.2

[2018-02-14 06:37] #118 closed, assigned to nobody

[2018-02-14 06:37] #119 closed, assigned to nobody

[2018-02-14 07:16] tunnckoCore commented on #118
Okey, it's published at v5.1.5

[2018-02-16 12:12] ericmorand opened #120 "When default value consists of a list of expressions, default value is not returned as a string"
Related to #110

The expected behavior of the lib is that default values are returned as string instead of their raw value:

* 'null' instead of null
* 'false' instead of false
* '"foo"' instead of "foo"

My fix to #110 broke that logic.

[2018-03-02 14:58] #120 closed, assigned to nobody

[2018-03-02 15:04] tunnckoCore commented on #47
@TooTallNate, btw, it seems that it would override existing regular argument with same name?

For example

[code]

[2018-03-03 23:30] TooTallNate commented on #47
I don't think so because each argument is it's own array entry. So in your example `result.args` would be `['foo', { bar: true, abc: 123, foo: 5 }]`

[2018-03-03 23:48] tunnckoCore commented on #47
Oh yea, really, mislooked the things.

[2018-03-05 11:25] Alex-D opened #125 "5.2.0 has no dist folder"
Seems you failed at publishing dist folder in 5.2.0 :-°

[2018-03-05 12:41] tunnckoCore commented on #125
ohhhhh, daamnn, always forget. I will update the boilerplate and scripts soon so such things won't be a problem anymore.

so.. yea will realise 5.2.1 later today

[2018-03-05 12:42] tunnckoCore commented on #125
release*

[2018-03-05 14:01] Alex-D commented on #125
(you can edit a message if you want fix it ;))

[2018-03-05 16:12] tunnckoCore commented on #125
From the phone, no (it depends).

[2018-03-05 16:13] #125 closed, assigned to nobody

[2018-03-07 02:21] #93 closed, assigned to nobody

[2018-03-07 02:21] tunnckoCore commented on #93
fixed

[2018-05-15 02:49] olstenlarck opened #138 "Next Major: Simplifying the API, docs and the plugins, smaller codebase"
What about that?

[code]

We are just removing the extra step of creating "app" instance and then calling `parse`. Also removing the `use` so called smart plugins, we don't need to change anything to that "app" instance.

So now plugins are more simpler and flat, instead of `(app) => (node, result) => {}`

Should be noted that we can't just add `plugins` property to the `parserOptions`, because wi

[2018-05-15 02:53] tunnckoCore commented on #47
Hey @TooTallNate, do you mind adding a PR with it? Next release (#138) can just include it. So we can add it to bullets of default supported features :P

[2018-05-15 02:55] tunnckoCore commented on #3
Okey, closing. If anyone has some thoughts then to feel free to share.

[2018-05-15 02:55] #3 closed, assigned to nobody

[2018-06-04 08:33] bluelovers commented on #47
https://github.com/bluelovers/node-func-args/blob/c71f7d8dc0bba5b4f36c17b3c1bb3433b1af023f/index.ts#L166

<blockquote><img src="https://avatars0.githubusercontent.com/u/167966?s=400&v=4" width="48" align="right"><div><img src="https://assets-cdn.github.com/favicon.ico" height="14"> GitHub</div><div><strong><a href="https://github.com/bluelovers/node-func-args">bluelovers/node-func-args</a></strong

[2018-06-04 08:38] tunnckoCore commented on #47
Sweet, looks even more good.

[2018-06-04 08:47] bluelovers commented on #47
https://github.com/tunnckoCore/parse-function/pull/141
https://github.com/tunnckoCore/parse-function/pull/142

[2018-06-05 03:30] bluelovers commented on #47
@olstenlarck  anything wanna do at pr? (but not include make test, but can see [here](https://github.com/bluelovers/node-func-args/blob/master/test/_tests.ts))

because i can't run build this repo at local (also when no any my commit)

[2018-10-12 08:01] ericmorand commented on #138
Would be great.

Also, while we are at it, some other things could make using parse-function much easier: TypeScript definitions.

Currently we can't use parse-function in TypeScript project because of the lack of definition. We currently have to import parse-function using `require` instead of `import ... from ...` because of the lack of definition and it makes the compiled code using `require` t

[2018-10-12 13:33] ericmorand commented on #138
I can take care of that. Since your project is not written in TS, it's better to host in in DefinitelyTyped repository. If you don't mind, I'll add them there.

[2018-10-12 14:15] tunnckoCore commented on #138
Great, yea! :)

[2018-10-17 08:43] ericmorand opened #161 "module and main entry points are not exporting the same API"
See those two issues:

https://github.com/ericmorand/twing/issues/284

https://github.com/webpack/webpack/issues/8171

To summarize, in the current state, `dist/index.es.js` and `dist/index.js` are not exporting the same API. It means that what works when using parse-function in a node env is _not_ guaranteed to work when using parse-function in the browser after parse-function has been bundled by

[2018-10-17 09:49] tunnckoCore commented on #161
Strange... it's `export default`.. I will check it later today

[2018-10-17 10:35] tunnckoCore commented on #161
Those are the configs for Rollup.. https://github.com/tunnckoCoreLabs/hela-config-tunnckocore/tree/v0.5.19/config

It creates ...

Minute later: I think I got what's the problem. `parse-function` does not have `pkg.legacy` and `pkg.unpkg` fields which are needed for the `legacy-browsers` and `modern-browsers` configs. Hm.

<blockquote><img src="https://avatars0.githubusercontent.com/u/30470436?s=4

[2018-10-17 10:36] tunnckoCore commented on #161
In anyway... i will release #138 in day or two, for sure. So everything will be simplified in terms of usage and dev workflow / building.

[2018-10-17 10:42] tunnckoCore commented on #161
Can you give me what's the difference between them? What's exported by both?

[2018-10-17 11:58] ericmorand commented on #161
`require('parse-function/dist/index.js');` returns the `parse` function itself.
`require('parse-function/dist/index.es.js');` returns an object with a `default` property.

It means that you can't use `require('parse-function)` in your code because it will resolve to the function itself when run on the server and to an object with a `default` key on the browser.

[2018-10-17 12:13] ericmorand commented on #161
For what it's worth, here is how I export my modules to provide the same API for both:

index.cjs.js:

[code]

index.es.js:

[code]

Then, using either `const {Foo} = require('index.cjs.js');` or `const {Foo} = require('index.es.js');` leads to the same result: `Foo `will contain the class/constructor.

[2018-10-17 19:21] tunnckoCore commented on #161
Consistency is good thing, yea. But it's totally normal to expect require-ing esm to return an object with default key property.

That's why it's in the module field. Because bundlers will load the module field instead, and so the behaving is the same.

example.js
[code]

is the function if you use bundlers or running it with `node -r esm example.js`.

`require`-ing ESM inside CJS is what happenin

[2019-02-17 11:14] weekly-digest[bot] opened #175 "Weekly Digest (10 February, 2019 - 17 February, 2019)"
Here's the **Weekly Digest** for [*tunnckoCoreLabs/parse-function*](https://github.com/tunnckoCoreLabs/parse-function):

 - - -
# ISSUES
Last week 1 issue was created.
It is still open.
## OPEN ISSUES
:green_heart: #174 [Add license scan report and status](https://github.com/tunnckoCoreLabs/parse-function/pull/174), by [fossabot](https://github.com/fossabot)
## NOISY ISSUE
:speaker: #174 [Add lice

[2019-02-24 01:58] weekly-digest[bot] opened #176 "Weekly Digest (17 February, 2019 - 24 February, 2019)"
Here's the Weekly Digest for [tunnckoCoreLabs/parse-function](https://github.com/tunnckoCoreLabs/parse-function):
# ISSUES
This week, no issues have been created or closed.

# PULL REQUESTS
This week, no pull requests has been proposed by the users.

# CONTRIBUTORS
This week, no user has contributed to this repository.

# STARGAZERS
This week, [ik5](https://github.com/ik5) has starred the reposito

[2019-03-03 11:14] weekly-digest[bot] opened #177 "Weekly Digest (24 February, 2019 - 3 March, 2019)"
Here's the **Weekly Digest** for [*tunnckoCoreLabs/parse-function*](https://github.com/tunnckoCoreLabs/parse-function):

 - - -
# ISSUES
Last week, no issues were created.

 - - -
# PULL REQUESTS
Last week, no pull requests were created, updated or merged.

 - - -
# COMMITS
Last week there were no commits.

 - - -
# CONTRIBUTORS
Last week there were no contributors.

 - - -
# STARGAZERS
Last week

[2019-03-10 11:14] weekly-digest[bot] opened #178 "Weekly Digest (3 March, 2019 - 10 March, 2019)"
Here's the **Weekly Digest** for [*tunnckoCoreLabs/parse-function*](https://github.com/tunnckoCoreLabs/parse-function):

 - - -
# ISSUES
Last week, no issues were created.

 - - -
# PULL REQUESTS
Last week, no pull requests were created, updated or merged.

 - - -
# COMMITS
Last week there were no commits.

 - - -
# CONTRIBUTORS
Last week there were no contributors.

 - - -
# STARGAZERS
Last week

[2019-03-14 10:56] pimlie opened #179 "Arrow function with inner function fails to parse"
The following snippet fails to parse because `result.value` is erroneously(?) wrapped in `{ ... }` on line https://github.com/tunnckoCoreLabs/parse-function/blob/master/src/index.js#L119-L121

[code]

`babylon` / `@babel/parser` throws the following error:

[code]

Maybe just add `isArrow` to the if on line 119? Or might that cause problems with arrow functions in normal function bodies because th

[2019-03-14 12:03] tunnckoCore commented on #179
Thanks for the report.

Interesting, I'll look on it.

[2019-03-14 12:13] tunnckoCore commented on #179
For some reason, wrapping it as string works.

[code]

[2019-03-14 12:16] tunnckoCore commented on #179
Actually, forget that. When I initially pasted it and executed it really it failed. But when it is formatted, your snippet works too.

[code]

Does not fail. But you are kind of right, it's probably something with the wrapping. But it's done that way because we use `.parseExpression`.

This works too

[code]

but this doesn't

[code]

So, please use Eslint and/or Prettier.

[2019-03-14 12:37] pimlie commented on #179
Thanks for the quick update. Actually I am using eslint already and ~~it didnt report anytning because it has `'arrow-parens': [2, 'as-needed', { requireForBlockBody: true }],` set and the rule doesnt think I need a block'ed body I guess.~~
-- edit --
hmm sorry, this rule is about `()` around the args ofc. I extend some other configs, will have a look at them what they do
-- /edit --

Really stran

[2019-03-14 14:49] tunnckoCore commented on #179
@pimlie yea, I'm not sure why it is happening too. I have a pretty big eslint config, so I'm not sure if ESLint-only approach will help either. That's one of the things why Prettier is amazing.

It's kinda strange because it's perfectly valid javascript.

[code]

[2019-07-28 15:34] GaikwadPratik opened #191 "Function with named parameters is not parsed correctly"
I have code as below:

[code]
The result object looks like:
[code]

`params` in output returns as `false` instead of `firstName, lastName`

[2019-07-28 15:48] #175 closed, assigned to nobody

[2019-07-28 15:48] #176 closed, assigned to nobody

[2019-07-28 15:48] #177 closed, assigned to nobody

[2019-07-28 15:48] #178 closed, assigned to nobody

[2019-07-28 15:50] tunnckoCore commented on #191
Kind of known bug, yes.

Check #47. Closing this as "duplicate".

[2019-07-28 15:52] #191 closed, assigned to nobody

[2019-10-18 21:31] tunnckoCore commented on #179
Agree on that too.

Hey, @pimlie did you found something? I'm just looking around because finished moving it to https://github.com/tunnckoCore/opensource/pull/62

[2019-10-18 21:51] tunnckoCore commented on #161
Next version should fix this once and forever.

[2019-10-18 22:11] tunnckoCore commented on #138
@ericmorand

I'll handle that. I already moved the source code to new home at my monorepo https://github.com/tunnckoCore/opensource/tree/master/packages/parse-function, so it will eventually get written in typescript.

[2019-10-19 15:08] pimlie commented on #179
Nope, unfortunately not.

But in the mean time my requirements changed and I also needed to be able to parse full code snippets, not just functions, which means I am currently using babel to parse/transform the code.

So feel free to close this issue if you want and thanks again for all the feedback!

[2019-10-21 10:09] sky172839465 opened #202 "V5.3.2 Error: Cannot find module './utils'"
In `@5.3.2`  `cjs/index.js` throws the following error:
[code]

Seems doesn't bundle utils.js into index.js

[2019-10-21 13:59] Super-Eric commented on #202
Thank you for raising the issue ;-) I have to work around this one by using:
npm install parse-function@5.3.1

As the library codeceptjs has this one as the dependency ;-)

[2019-10-25 10:56] tunnckoCore commented on #202
Sorry, for the delay, it's hard to handle so many notifications and easy to miss.

This isn't the home for the package for a long time. Before few months I moved it to couple places. Now finally it's on my monorepo where I'm moving everything and is pretty stable.

Please install 5.4+.

https://github.com/tunnckoCore/opensource/

For easier access to my or other repos actual home, you can use http

[2019-10-25 10:56] #202 closed, assigned to nobody

[2019-10-25 11:35] Super-Eric commented on #202
Thank you very much @tunnckoCore. I have installed 5.4.3 and it is working great for me now.

[2019-10-25 12:51] tunnckoCore commented on #202
Great to hear, you can star and "Watch Releases" for the repo. :)

And also heck the upcoming v6 https://github.com/tunnckoCore/opensource/pull/72

[2020-02-08 00:28] tunnckoCore opened #203 "Announcement (a bit late): moved to a `tunnckoCore/opensource` monorepo"
Since the last GitHub Release (tag, npm version) here which is `5.2.11` & `5.2.12` the project has moved to https://github.com/tunnckoCore/opensource at `packages` (or `@packages`) workspace. Please open PRs and issues there, the npm package is also is pointing to the correct location.

Any minor & patch version _from_ those until the **v6** (which is in the works at https://github.com/tunnckoCore